/*Main*/
.project-list {
    border-style:solid;
    border-width: 4px;
    display:flex;
}
.project-list:hover {
    border-color: #8a8a8a;
}

/*Left*/
.project-list-left {
    background-color: yellow;
    width: 75%;
    display: grid;
}
    /*Left Top*/
    .project-list-left-top {
        display: flex;
    }
    .project-list-name {
        align-self: left;
        width: 70%;
        background-color:red;
    }
    .project-list-date {
        align-self:right;
        width: 30%;
        background-color:blue;
    }

    /*left Bottom*/
    .project-list-left-bottom {
        display: flex;
    }
    .project-list-summary {
        background-color:magenta;
        width: 100%;
    }

/*Right*/
.project-list-right {
    background-color: green;
    width: 25%;
}
.project-list-img {
    display:inline;
}
.project-list-img img {
    max-width: 100%;
}