/*Main*/
.project-list {
    border-style:solid;
    border-width: 4px;
    min-height: 200px;
    max-height: 250px;
    display:flex;
    margin: 4% 4%;
}
.project-list:hover {
    border-color: #8a8a8a;
}

/*Left*/
.project-list-left {
    background-color: yellow;
    width: 75%;
    display: inline;
}
    /*Left Top*/
    .project-list-left-top {
        display: flex;
        height: 20%;
    }
    .project-list-name {
        padding: 0px;
        width: 80%;
        background-color:red;
        position: relative;
    }
    .project-list-name h1 {
        margin: 0px;
        position: absolute;
        top: -15%;
        left: 1%;
    }
    .project-list-date {
        align-self:right;
        align-items: center;
        width: 20%;
        background-color:blue;
        position: relative;
    }
    .project-list-date span {
        margin: 0px;
        position: absolute;
        height: 100%;
        font-size: clamp(`20px, 80%, 8vh);
    }

    /*left Bottom*/
    .project-list-left-bottom {
        display: flex;
        height: 80%;
    }
    .project-list-summary {
        background-color:magenta;
        width: 100%;
    }

/*Right*/
.project-list-right {
    background-color: green;
    width: 25%;
}
.project-list-img {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.project-list-img img {
    background-color: yellow;
    color: orange;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}