body {
	background: #ffffff url("back.png") no-repeat center center;
	background-size: auto;
}
.buttonText {
	border: 6px outset red;
	background: #A8A8A8;
	color: red;
}
.buttonText:hover {
	border: 6px inset blue;
	background: #A8A8A8;
	color: blue;
}
